/* Add this CSS to your existing styles.css file or create a new one if not exists */

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  text-align: center;
}

header ul {
  list-style: none; 
  padding: 0;
  margin: 0;
  display: flex; 
  justify-content: center; 
}

header li {
  margin-right: 200px; 
}

@media (max-width: 768px) {
  header li {
    margin-right: 10px; 
  }
}

header a {
  color: #fff;
  text-decoration: none;
}

.main-sidebar {
  display: flex;
  flex-direction: row;
  flex: 1; /* Allow the container to grow to fill remaining space */
}

.main-sidebar-footer {
  display: flex;
  flex-direction: column;
  flex: 1; /* Allow the container to grow to fill remaining space */
}

main {
  display: flex;
  flex: 4; /* Allow main content to grow */
  order: 2; /* Move main content below sidebar */
}

.sidebar {
  background-color: #f0f0f0;
  padding: 20px;
  flex: 1; /* Set sidebar width */
  order: 1; /* Move sidebar to the left */
}

.content {
  flex: 4; /* Allow content to grow */
  padding: 20px;
}

#boxtable {
  border: 2px dashed #000;
  border-radius: 5px;
  padding: 10px;
  margin-top: 20px;
  height: 450px;
  background-color: #ffffff;
  display: flex;
  overflow: auto;
}
footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px 20px;
  order: 3; /* Move footer to the bottom */
}



@media (max-width: 500px) {
  .main-sidebar-footer {
    flex-direction: column;
  }

  .main-sidebar {
    display: flex;
    flex-direction: row;
    flex: 1; /* Allow the container to grow to fill remaining space */
  }

  main {
    order: 1; /* Move main content to the top */
  }

  .sidebar {
    order: 3; /* Move sidebar below main content */
  }

  footer {
    order: 2; /* Move footer below sidebar */
    flex: 1; /* Allow footer to grow */
  }
}
